body{
    background-image: url("images/bg.jpg");
    background-size: cover;
    font-family: 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    text-align: center;
    color:rgba(26, 23, 23, 0.977);
    height: 100vh;
}

.container{
    background-color: rgba(255, 255, 255, 0.273);
    max-width: 60%;
    margin: auto;
    padding: 50px 60px 80px 60px;
    border-radius: 4px;
    position: relative;
    top: 80px;
}

h2{
    font-size: 50px;
    margin-top: 0px;
    margin-bottom: 30px;
}

.btn{
    padding: 8px 16px;
    border: 1px solid rgba(28, 24, 24, 0.912);
    border-radius: 4px;
    color: whitesmoke;
    font-weight: bold;
    margin: 0 8px;
    text-shadow: 0 0 1px black;
}

#increment-btn{
    background-color: darkgreen;
}

#save-btn{
    background-color: #464a46f1;
}

#clear-hist-btn{
    background-color: darkred;
}

#increment-btn:hover{
    background-color: rgb(3, 130, 3);
}

#save-btn:hover{
    background-color: #5b605bf1;
}

#clear-hist-btn:hover{
    background-color: rgb(174, 3, 3);
}

.text-bg{
    background-color: rgba(245, 245, 245, 0.844);
    width: 400px;
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 30px;
}

#count-el{
    background-color: rgba(245, 245, 245, 0.836);
    width: 80px;
    height: 80px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
}